*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #0D0259, #4B0082, #8A2BE2);
}